<h1>All accounts</h1>
<p>home page</p>

<% 
=begin
gets all articles from the index action Controller and renders its data from the table, to the view 
=end
%>

<ul>
    <% @accounts.each do |account| %>
        <li>
        <%= account.firstname %>
        <%= account.lastname %>
        <%= account.email %>
        <%= account.username %>
        <%= account.created_at %>
        </li>
    <% end %>
<ul>
