<p style="color: green"><%= notice %></p>

<h1> Email: <%= @account.email %></h1>
<p>Account ID: <%= @account.id %></p>
<p>username: <%= @account.username %></p>
<p>First Name: <%= @account.firstname %></p>
<p>Last Name:<%= @account.lastname %></p>

<%= link_to "ðŸŒŒ All Accounts", accounts_path, class: "btn btn-default" %> 
<%= link_to  "ðŸª„ Edit Account", edit_account_path, class: "btn btn-default" %> 
<%= link_to "ðŸ—‘ï¸ Delete", account_path(@account), class: "btn btn-default", data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>



