<h1>Email: <%= @account.email %></h1>
<p>Account ID: <%= @account.id %></p>
<p>username: <%= @account.username %></p>
<p>First Name: <%= @account.firstname %></p>
<p>Last Name:<%= @account.lastname %></p>

<%= link_to "All Accounts", accounts_path %> 
<%= link_to "Edit Account", edit_account_path %> 


